<script lang="ts">
    import stores from './store';

let id = 42;
let store1 = stores.main;
let store2 = stores.api;

function fetchApi(n) {
    store2.fetch(id, n);
}

</script>

<style lang="scss">
    .error {
        color: red;
    }
</style>

<main>
    <h1>counter {$store1.count}</h1>
    <button on:click={store1.decrement}>-</button>
    <button on:click={store1.increment}>+</button>

    <h2>api</h2>
    <input bind:value={id} />
    <button on:click={fetchApi}>fetch</button>
    {#if $store2.api.error}
    <div class="error">{$store2.api.error}</div>
    {:else if $store2.api.value}
    <div>{$store2.api.value.name}</div>
    {:else}
    <div>no api</div>
    {/if}
</main>
